<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido {{ pedido.id }}</title>
</head>
<body>
    <h1>Pedido de {{ pedido.nombre }}</h1>
    <p>Fecha: {{ pedido.fecha }}</p>
    <p class="money-format">Total: ${{ pedido.total }}</p>
    <p>Pagado: {{ pedido.pagado|yesno:"Sí,No" }}</p>

    <h3>Detalles del Pedido:</h3>
    <ul>
        {% for detalle in pedido.detallepedido_set.all %}
            <li>{{ detalle.producto.nombre }} x {{ detalle.cantidad }} - ${{ detalle.subtotal }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'vista_mesas' %}">Volver a Mesas</a>
    <script>
        // Función para formatear valores como moneda
        function formatMoney(value) {
          return value.toLocaleString("es-AR", {
            style: "currency",
            currency: "ARS",
          });
        }
      
        // Selecciona todos los elementos con la clase 'money-format'
        var moneyElements = document.querySelectorAll(".money-format");
      
        // Itera sobre cada elemento y lo formatea
        moneyElements.forEach(function (element) {
          var value = parseFloat(element.innerText); // Obtiene el valor numérico
          if (!isNaN(value)) {
            // Verifica que sea un número válido
            element.innerText = formatMoney(value); // Formatea y reemplaza el valor
          }
        });
</body>
</html>