{% extends 'Parrilla/base_generic.html' %} {% block content %}
<div class="container p-3">
  <h2 class="text-center mb-2 mt-5">
    Pedido De {{ pedido.nombre }} N°{{ pedido.id }}
  </h2>

  <form method="post">
    {% csrf_token %} {{ detalle_form.as_p }}
    <button type="submit" name="agregar_detalle" class="btn btn-success">
      Agregar Producto
    </button>
  </form>

  <h3>Detalles Agregados</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="text-2">Producto</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
        <!-- Nueva columna para las acciones -->
      </tr>
    </thead>
    <tbody>
      {% for detalle in detalles_pedido %}
      <tr>
        <td>{{ detalle.producto.nombre }}</td>
        <td>{{ detalle.cantidad }}</td>
        <td>${{ detalle.subtotal }}</td>
        <td>
          <a
            href="{% url 'eliminar_detalle' detalle.id pedido.id %}"
            class="btn btn-danger"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Total: ${{ pedido.total }}</h4>

  <div class="text-end">
    <a href="{% url 'vista_mesas' %}" class="btn btn-primary">mesas</a>
    <a href="{% url 'pedidos_para_llevar' %}" class="btn btn-secondary"
      >mesas</a
    >
    <button onclick="window.print()" class="btn btn-secondary mt-2">
      Imprimir Detalle del Pedido
    </button>
  </div>
  {% endblock %}
</div>
