<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estado de las Mesas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .mesa {
        margin: 20px;
        padding: 20px;
        text-align: center;
        color: white;
      }
      .libre {
        background-color: #28a745;
      } /* Verde para libre */
      .ocupada {
        background-color: #dc3545;
      } /* Rojo para ocupada */
      .reservada {
        background-color: #ffc107;
      } /* Amarillo para reservada */
      .navbar {
        background: linear-gradient(45deg, #c0392b, #e74c3c, #d35400);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Da un efecto brillante */
      }
    </style>
  </head>
  <body>
    {% extends 'Parrilla/base_generic.html' %} {% block content %}
    <div class="container mt-5">
      <h1 class="mb-4">Estado de las Mesas</h1>
      <div class="row">
        {% for mesa in mesas %}
        <div class="col-md-3">
          <div class="mesa {{ mesa.estado }} rounded mb-3">
            <h5 class="card-title">Mesa {{ mesa.numero }}</h5>

            {% if mesa.estado == 'ocupada' %}
            <p>Cliente: {{ mesa.pedido_set.last.nombre }}</p>
            <p class="money-format">Total: {{ mesa.pedido_set.last.total }}</p>

            <div class="d-flex">
              <!-- Formulario para pagar y liberar -->
              <form
                method="POST"
                action="{% url 'pagar_pedido' mesa.pedido_set.last.id %}"
              >
                {% csrf_token %}
                <button type="submit" class="btn btn-success mr-2">
                  Cobrar y liberar
                </button>
              </form>

              <!-- Botón para editar el pedido -->
              <a
                href="{% url 'editar_pedido' pk=mesa.pedido_set.last.id %}"
                class="btn btn-warning"
              >
                Editar Pedido
              </a>
            </div>
            {% elif mesa.estado == 'reservada' %}
            <a
              href="{% url 'editar_pedido' mesa.pedido_set.last.id %}"
              class="btn btn-light"
              >Ver Pedido</a
            >

            {% else %}
            <!-- Formulario para crear pedido directamente desde la mesa -->
            <form action="{% url 'crear_pedido' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="mesa_id" value="{{ mesa.id }}" />
              <div class="mb-3">
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  placeholder="Nombre del Cliente"
                  required
                />
              </div>
              <button type="submit" class="btn btn-primary">
                Crear Pedido
              </button>
            </form>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
    <script>
      // Función para formatear valores como moneda
      function formatMoney(value) {
        return value.toLocaleString("es-AR", {
          style: "currency",
          currency: "ARS",
        });
      }

      // Selecciona todos los elementos con la clase 'money-format'
      var moneyElements = document.querySelectorAll(".money-format");

      // Itera sobre cada elemento y lo formatea
      moneyElements.forEach(function (element) {
        var value = parseFloat(element.innerText); // Obtiene el valor numérico
        if (!isNaN(value)) {
          // Verifica que sea un número válido
          element.innerText = formatMoney(value); // Formatea y reemplaza el valor
        }
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
