{% extends 'Parrilla/base_generic.html' %} {% block content %}
<div class="container p-3">
  <h2 class="text-center mb-4 mt-5">Pedidos Para Llevar</h2>

  <!-- Formulario para agregar un nuevo pedido para llevar -->
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="nombre_cliente">Nombre del Cliente</label>
      <input
        type="text"
        class="form-control"
        id="nombre_cliente"
        name="nombre_cliente"
        required
      />
    </div>
    <button type="submit" class="btn btn-success mt-2">
      Agregar Pedido Para Llevar
    </button>
  </form>

  <h3 class="mt-4">Pedidos Actuales Para Llevar</h3>
  <table class="table">
    <thead>
      <tr>
        <th>N° Pedido</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidos_para_llevar %}
      <tr>
        <td>{{ pedido.numero }}</td>
        <td class="money-format">${{ pedido.total }}</td>
        <td class="d-flex flex-wrap justify-content-center">
          <a
            href="{% url 'editar_pedido' pk=pedido.id %}"
            class="btn btn-primary m-1"
          >
            Editar
          </a>
          <a
            href="{% url 'cobrar_pedido' pk=pedido.id %}"
            class="btn btn-success m-1"
            onclick="return confirm('¿Seguro que deseas cobrar este pedido?');"
          >
            Cobrar
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  // Función para formatear los valores como moneda
  function formatMoney(value) {
    return value.toLocaleString("es-AR", {
      style: "currency",
      currency: "ARS",
    });
  }

  // Selecciona todos los elementos con la clase 'money-format'
  var moneyElements = document.querySelectorAll(".money-format");

  // Itera sobre cada elemento y lo formatea
  moneyElements.forEach(function (element) {
    // Obtén el texto, elimina el símbolo $ para convertirlo a número
    var value = parseFloat(element.innerText.replace("$", ""));
    if (!isNaN(value)) {
      element.innerText = formatMoney(value); // Formatea y reemplaza el valor
    }
  });
</script>
{% endblock %}
